body {
    background-color: #bba2db;
    color: black;
}

p {
    font-size: 15px;
    line-height: 15px;
    color: #310072;
    font-family: georgia;
}

h1 {
  font-family: verdana;
  font-size: 26px;
  color: #310072
}
