body {
    background-color: #f1e5ff;
    color: black;
}

h1 {
  font-family: verdana;
  font-size: 26px;
  color: #34105e;
}

p {
    font-size: 18px;
    line-height: 15px;
    color: #34105e;
    font-family: georgia;
}

p1 {
    font-size: 17px;
    line-height: 10px;
    color: #160628;
    font-family: sans-serif;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

svg .lollipop {
    fill: #ce84b0;
    stroke-width: 3;
    opacity: 0.8;
}
