body {
      background-color: #a1c6a7;
}

h2 {
  color: #e02c2c;
  font-family: comic sans ms;
  font-size: 20px;
}

.line-path {
  fill: none;
  stroke: maroon;
  stroke-width: 5;
  stroke-linejoin: round;
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

.focus circle {
fill: none;
stroke: steelblue;
}

.axis-label {
  font-size: 1.5em;
  fill: #4f4d4b;
}
