/* Name: Kimberley Boersma
Student number: 11003464
CSS file to style my HTML page and scatter plot */

body {
      background-color: #b5fff1;
}

h1 {
      color: purple;
      font-family: helvetica;
      font-size: 26px;
}

p {
      color: purple;
      font-family: helvetica;
      font-size: 18px;
}
